Adv. Data Types

In [2]:
#List
roll = [1,2,3,4,'sohan', True, 4.88]
#Acess Values
roll[5] 
roll[3]
roll[-1] # Accessing the value from the end
#Update the value of list
roll[6] = 1000 #Update single value
roll[9:10] = 10,155
roll
#Accessing the multiple values using list
roll[1:4]
#Accesing the mutlple values from the last end
roll[-2:-4] # This is not give any output for the wrong indexing issue...
roll[-4:-2]
roll[3:]
roll[:2]

#Funtion
len(roll)
roll.append(10000)
roll 
roll.insert(0,-22)
roll.count(33)
roll.extend([10,40.3,'Sara'])
roll.pop()
roll

[-22, 1, 2, 3, 4, 'sohan', True, 1000, 10, 155, 10000, 10, 40.3]

In [5]:
#ShallowCopy will add the value into the original variable
shallowCopy = roll
shallowCopy.append(10000000)
roll

[-22, 1, 2, 3, 4, 'sohan', True, 1000, 10, 155, 10000, 10, 40.3, 10000000]

In [6]:
#DeepCopy will not add the value into the original variable
deepCopy = roll.copy()
deepCopy.append(9852555)
roll

[-22, 1, 2, 3, 4, 'sohan', True, 1000, 10, 155, 10000, 10, 40.3, 10000000]

Tuple()

In [9]:
t = (3,1,8,8,34,67,4,3,7,)
t.count(8)
t.index(67)
tuple(roll)
list(t)
del t[0]

[3, 1, 8, 8, 34, 67, 4, 3, 7]

In [24]:
#Set
s1 = {3,2,5,1,5,6,7,588,75}
s2 = {4,5,6,88,100,56,45}
s1.difference(s2)
s2.difference(s1)
s1.intersection(s2)
s1.union(s2)
s1.symmetric_difference(s2)
s1.pop()
s1.remove(7)
s1.discard(75)
s1

{2, 3, 5, 6, 588}